SOFTWARE_CODE/Node-RED/Serial dates.json
[
    {
        "id": "3e5687a6779f47c7",
        "type": "tab",
        "label": "Serial dates",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "928063ee792fd652",
        "type": "join",
        "z": "3e5687a6779f47c7",
        "name": "Join: voltage bar graph",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ";",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 720,
        "y": 240,
        "wires": [
            [
                "1f4e60e54df90549"
            ]
        ]
    },
    {
        "id": "217186192ebfc62c",
        "type": "ui_chart",
        "z": "3e5687a6779f47c7",
        "name": "",
        "group": "67306fee4e360ee6",
        "order": 5,
        "width": 7,
        "height": 5,
        "label": "Voltage harmonics",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "300",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#c80a0a",
            "#960a0a",
            "#640a0a",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1170,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "1f4e60e54df90549",
        "type": "function",
        "z": "3e5687a6779f47c7",
        "name": "Voltage bar graph",
        "func": "//Saving value\nconst vector = msg.payload;\n\n//Development\nmsg.payload = \n[{\n    \"series\": [\"RMS\", \"1°\", \"3°\"],\n    \"data\": [[vector[0]], [vector[1]], [vector[2]]],\n    \"labels\": [\"Voltages [V]\"]\n}]\n\n//Sending data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 240,
        "wires": [
            [
                "217186192ebfc62c"
            ]
        ]
    },
    {
        "id": "436f7452494f914e",
        "type": "ui_gauge",
        "z": "3e5687a6779f47c7",
        "name": "",
        "group": "67306fee4e360ee6",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Voltage RMS",
        "label": "[V]",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#640a0a",
            "#960a0a",
            "#c80a0a"
        ],
        "seg1": "100",
        "seg2": "200",
        "x": 690,
        "y": 120,
        "wires": []
    },
    {
        "id": "a5f7d246dd2ca1b2",
        "type": "ui_gauge",
        "z": "3e5687a6779f47c7",
        "name": "",
        "group": "67306fee4e360ee6",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Fundamental voltage",
        "label": "[V]",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#640a0a",
            "#960a0a",
            "#c80a0a"
        ],
        "seg1": "100",
        "seg2": "200",
        "x": 720,
        "y": 160,
        "wires": []
    },
    {
        "id": "51650ce4c144a7f2",
        "type": "ui_gauge",
        "z": "3e5687a6779f47c7",
        "name": "",
        "group": "67306fee4e360ee6",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "3° harmonic voltage",
        "label": "[V]",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#640a0a",
            "#960a0a",
            "#c80a0a"
        ],
        "seg1": "100",
        "seg2": "200",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "c3973eaf3a46c85f",
        "type": "ui_text",
        "z": "3e5687a6779f47c7",
        "group": "67306fee4e360ee6",
        "order": 4,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Voltage THD:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "79f9751b2cc221ad",
        "type": "function",
        "z": "3e5687a6779f47c7",
        "name": "[%]",
        "func": "//Saving value\nconst dato = msg.payload;\n\n//Development\nmsg.payload = dato + \" [%]\";\n\n//Sending data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 280,
        "wires": [
            [
                "c3973eaf3a46c85f"
            ]
        ]
    },
    {
        "id": "c00a71e6c73f2c45",
        "type": "join",
        "z": "3e5687a6779f47c7",
        "name": "Join: current bar graph ",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ";",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 720,
        "y": 440,
        "wires": [
            [
                "5076c5ca17b60764"
            ]
        ]
    },
    {
        "id": "d8268baf30c99e7a",
        "type": "ui_chart",
        "z": "3e5687a6779f47c7",
        "name": "",
        "group": "5ec1e962bdd1ede1",
        "order": 5,
        "width": 7,
        "height": 5,
        "label": "Current harmonics",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#c80a0a",
            "#960a0a",
            "#640a0a",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1170,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "5076c5ca17b60764",
        "type": "function",
        "z": "3e5687a6779f47c7",
        "name": "Current bar graph",
        "func": "//Saving value\nconst vector = msg.payload;\n\n//Development\nmsg.payload = \n[{\n    \"series\": [\"RMS\", \"1°\", \"3°\"],\n    \"data\": [[vector[0]], [vector[1]], [vector[2]]],\n    \"labels\": [\"Currents [A]\"]\n}]\n\n//Sending data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 440,
        "wires": [
            [
                "d8268baf30c99e7a"
            ]
        ]
    },
    {
        "id": "d3fc218722bf292c",
        "type": "ui_gauge",
        "z": "3e5687a6779f47c7",
        "name": "",
        "group": "5ec1e962bdd1ede1",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Current RMS",
        "label": "[A]",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#640a0a",
            "#960a0a",
            "#c80a0a"
        ],
        "seg1": "15",
        "seg2": "30",
        "x": 690,
        "y": 320,
        "wires": []
    },
    {
        "id": "7b622486d17ebd70",
        "type": "ui_gauge",
        "z": "3e5687a6779f47c7",
        "name": "",
        "group": "5ec1e962bdd1ede1",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Fundamental current ",
        "label": "[A]",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#640a0a",
            "#960a0a",
            "#c80a0a"
        ],
        "seg1": "15",
        "seg2": "30",
        "x": 720,
        "y": 360,
        "wires": []
    },
    {
        "id": "ba655f03ad94e724",
        "type": "ui_gauge",
        "z": "3e5687a6779f47c7",
        "name": "",
        "group": "5ec1e962bdd1ede1",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "3° harmonic current ",
        "label": "[A]",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#640a0a",
            "#960a0a",
            "#c80a0a"
        ],
        "seg1": "15",
        "seg2": "30",
        "x": 710,
        "y": 400,
        "wires": []
    },
    {
        "id": "89ecf9da360cf84a",
        "type": "ui_text",
        "z": "3e5687a6779f47c7",
        "group": "5ec1e962bdd1ede1",
        "order": 4,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Current  THD:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 830,
        "y": 480,
        "wires": []
    },
    {
        "id": "c78213b9a7675678",
        "type": "function",
        "z": "3e5687a6779f47c7",
        "name": "[%]",
        "func": "//Saving value\nconst dato = msg.payload;\n\n//Development\nmsg.payload = dato + \" [%]\";\n\n//Sending data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 480,
        "wires": [
            [
                "89ecf9da360cf84a"
            ]
        ]
    },
    {
        "id": "899f8a0ee181731f",
        "type": "ui_chart",
        "z": "3e5687a6779f47c7",
        "name": "",
        "group": "1ed5c8d6858a75fe",
        "order": 1,
        "width": 7,
        "height": 5,
        "label": "Active power [W]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10000",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#c80a0a",
            "#960a0a",
            "#640a0a",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 710,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "5d5d8a3f2d5d6608",
        "type": "ui_text",
        "z": "3e5687a6779f47c7",
        "group": "1ed5c8d6858a75fe",
        "order": 2,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Active power:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 840,
        "y": 600,
        "wires": []
    },
    {
        "id": "e37bab205e71a5de",
        "type": "function",
        "z": "3e5687a6779f47c7",
        "name": "[W]",
        "func": "//Saving value\nconst dato = msg.payload;\n\n//Development\nmsg.payload = dato + \" [W]\";\n\n//Sending data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 600,
        "wires": [
            [
                "5d5d8a3f2d5d6608"
            ]
        ]
    },
    {
        "id": "073c7d40921824ae",
        "type": "ui_text",
        "z": "3e5687a6779f47c7",
        "group": "1ed5c8d6858a75fe",
        "order": 3,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Reactive power:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 840,
        "y": 640,
        "wires": []
    },
    {
        "id": "8408037bf6329b32",
        "type": "function",
        "z": "3e5687a6779f47c7",
        "name": "[Var]",
        "func": "//Saving value\nconst dato = msg.payload;\n\n//Development\nmsg.payload = dato + \" [Var]\";\n\n//Sending data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 640,
        "wires": [
            [
                "073c7d40921824ae"
            ]
        ]
    },
    {
        "id": "1c0e14f7bba77979",
        "type": "ui_text",
        "z": "3e5687a6779f47c7",
        "group": "1ed5c8d6858a75fe",
        "order": 4,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Apparent power:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 840,
        "y": 680,
        "wires": []
    },
    {
        "id": "8d0cdda863026ff7",
        "type": "function",
        "z": "3e5687a6779f47c7",
        "name": "[VA]",
        "func": "//Saving value\nconst dato = msg.payload;\n\n//Development\nmsg.payload = dato + \" [VA]\";\n\n//Sending data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 680,
        "wires": [
            [
                "1c0e14f7bba77979"
            ]
        ]
    },
    {
        "id": "5832f26306a6fee6",
        "type": "ui_text",
        "z": "3e5687a6779f47c7",
        "group": "1ed5c8d6858a75fe",
        "order": 5,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "Power factor:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 830,
        "y": 720,
        "wires": []
    },
    {
        "id": "eac2692b9236193c",
        "type": "function",
        "z": "3e5687a6779f47c7",
        "name": "FP",
        "func": "//Saving value\nconst dato = msg.payload;\n\n//Development\nif (dato < 0) {msg.payload  = Math.abs(dato) + \" [ind]\";}\nelse {msg.payload = dato + \" [ind]\"}\n\n//Sending data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 720,
        "wires": [
            [
                "5832f26306a6fee6"
            ]
        ]
    },
    {
        "id": "79ab2f0e68f29bcb",
        "type": "ui_gauge",
        "z": "3e5687a6779f47c7",
        "name": "",
        "group": "064d7f5cab9396ec",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Voltage RMS",
        "label": "[V]",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#640a0a",
            "#960a0a",
            "#c80a0a"
        ],
        "seg1": "100",
        "seg2": "200",
        "x": 690,
        "y": 40,
        "wires": []
    },
    {
        "id": "b82a0f0bae54f307",
        "type": "function",
        "z": "3e5687a6779f47c7",
        "name": "Frequency alarm",
        "func": "//Saving value\nconst dato = msg.payload;\n\n//Development\nif (dato <= 50.2 && dato >= 49.8) {msg.payload = \"Acceptable\";}\nelse {msg.payload = \"Unacceptable\";}\n\n//Sending data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 800,
        "wires": [
            [
                "2129083b82eaa16e"
            ]
        ]
    },
    {
        "id": "58b77aa70327221b",
        "type": "function",
        "z": "3e5687a6779f47c7",
        "name": "Voltage alarm",
        "func": "//Saving value\nconst dato = msg.payload;\n\n//Development\nif (dato <= 240 && dato >= 220) {msg.payload = \"Acceptable\";}\nelse {msg.payload = \"Unacceptable\";}\n\n//Sending data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 80,
        "wires": [
            [
                "eb4274706e6d6321"
            ]
        ]
    },
    {
        "id": "1b8aeff4605421c8",
        "type": "ui_gauge",
        "z": "3e5687a6779f47c7",
        "name": "",
        "group": "064d7f5cab9396ec",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Frequency",
        "label": "[Hz]",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#640a0a",
            "#960a0a",
            "#c80a0a"
        ],
        "seg1": "30",
        "seg2": "70",
        "x": 690,
        "y": 760,
        "wires": []
    },
    {
        "id": "126e0dee16b7c69b",
        "type": "function",
        "z": "3e5687a6779f47c7",
        "name": "SQL: Sensor",
        "func": "//Saving value\nconst inp = msg.payload;\n\n//Development\nmsg.topic = \"INSERT INTO Sensor(Voltage,Voltage_1,Voltage_3,Voltage_THD,Current,Current_1,Current_3,Current_THD,Power_P,Power_Q,Power_S,FP,Frequency) VALUES ('\" + inp.Voltage + \"','\" + inp.Voltage_1 + \"','\" + inp.Voltage_3 + \"','\" + inp.Voltage_THD + \"','\" + inp.Current + \"','\" + inp.Current_1 + \"','\" + inp.Current_3 + \"','\" + inp.Current_THD + \"','\" + inp.Power_P + \"','\" + inp.Power_Q + \"','\" + inp.Power_S + \"','\" + inp.FP + \"','\" + inp.Frequency + \"')\";\n\n//Sending data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 840,
        "wires": [
            [
                "e5cebff7a401c8cd"
            ]
        ]
    },
    {
        "id": "2129083b82eaa16e",
        "type": "ui_text",
        "z": "3e5687a6779f47c7",
        "group": "064d7f5cab9396ec",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Frequency status (49.8 a 50.2 [Hz]):",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 980,
        "y": 800,
        "wires": []
    },
    {
        "id": "eb4274706e6d6321",
        "type": "ui_text",
        "z": "3e5687a6779f47c7",
        "group": "064d7f5cab9396ec",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Voltage status (220 a 240 [V]):",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 950,
        "y": 80,
        "wires": []
    },
    {
        "id": "9b46cd02e4379f22",
        "type": "link in",
        "z": "3e5687a6779f47c7",
        "name": "Data transfer",
        "links": [
            "3c76a6553fe545d0"
        ],
        "x": 185,
        "y": 420,
        "wires": [
            [
                "35054b1c5a6f1196",
                "257da757c8b0401b",
                "4a162fcbdbb4fa03",
                "d728e1b8c9c1dc0f",
                "d7fd261a4d4916e2",
                "b28355a786c8f0fb",
                "e85a9f50041bd59a",
                "9e146e40ee526867",
                "eb7358d2380b247c",
                "236330269b7229de",
                "619fbc084d68f131",
                "3f8d92e270d6ada1",
                "6b381bd8122f67f2",
                "1813d11eb389496d"
            ]
        ]
    },
    {
        "id": "35054b1c5a6f1196",
        "type": "change",
        "z": "3e5687a6779f47c7",
        "name": "Voltage",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Voltage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 80,
        "wires": [
            [
                "79ab2f0e68f29bcb",
                "58b77aa70327221b",
                "436f7452494f914e",
                "928063ee792fd652"
            ]
        ]
    },
    {
        "id": "257da757c8b0401b",
        "type": "change",
        "z": "3e5687a6779f47c7",
        "name": "Voltage_1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Voltage_1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 160,
        "wires": [
            [
                "a5f7d246dd2ca1b2",
                "928063ee792fd652"
            ]
        ]
    },
    {
        "id": "4a162fcbdbb4fa03",
        "type": "change",
        "z": "3e5687a6779f47c7",
        "name": "Voltage_3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Voltage_3",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 200,
        "wires": [
            [
                "51650ce4c144a7f2",
                "928063ee792fd652"
            ]
        ]
    },
    {
        "id": "d728e1b8c9c1dc0f",
        "type": "change",
        "z": "3e5687a6779f47c7",
        "name": "Voltage_THD",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Voltage_THD",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 280,
        "wires": [
            [
                "79f9751b2cc221ad"
            ]
        ]
    },
    {
        "id": "d7fd261a4d4916e2",
        "type": "change",
        "z": "3e5687a6779f47c7",
        "name": "Current",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Current",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 320,
        "wires": [
            [
                "d3fc218722bf292c",
                "c00a71e6c73f2c45"
            ]
        ]
    },
    {
        "id": "b28355a786c8f0fb",
        "type": "change",
        "z": "3e5687a6779f47c7",
        "name": "Current_1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Current_1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 360,
        "wires": [
            [
                "7b622486d17ebd70",
                "c00a71e6c73f2c45"
            ]
        ]
    },
    {
        "id": "e85a9f50041bd59a",
        "type": "change",
        "z": "3e5687a6779f47c7",
        "name": "Current_3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Current_3",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 400,
        "wires": [
            [
                "ba655f03ad94e724",
                "c00a71e6c73f2c45"
            ]
        ]
    },
    {
        "id": "9e146e40ee526867",
        "type": "change",
        "z": "3e5687a6779f47c7",
        "name": "Current_THD",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Current_THD",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 480,
        "wires": [
            [
                "c78213b9a7675678"
            ]
        ]
    },
    {
        "id": "eb7358d2380b247c",
        "type": "change",
        "z": "3e5687a6779f47c7",
        "name": "Power_P",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Power_P",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 560,
        "wires": [
            [
                "899f8a0ee181731f",
                "e37bab205e71a5de",
                "98f5c35ffc82b99a"
            ]
        ]
    },
    {
        "id": "236330269b7229de",
        "type": "change",
        "z": "3e5687a6779f47c7",
        "name": "Power_Q",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Power_Q",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 640,
        "wires": [
            [
                "8408037bf6329b32"
            ]
        ]
    },
    {
        "id": "619fbc084d68f131",
        "type": "change",
        "z": "3e5687a6779f47c7",
        "name": "Power_S",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Power_S",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 680,
        "wires": [
            [
                "8d0cdda863026ff7"
            ]
        ]
    },
    {
        "id": "3f8d92e270d6ada1",
        "type": "change",
        "z": "3e5687a6779f47c7",
        "name": "FP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.FP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 720,
        "wires": [
            [
                "eac2692b9236193c"
            ]
        ]
    },
    {
        "id": "6b381bd8122f67f2",
        "type": "change",
        "z": "3e5687a6779f47c7",
        "name": "Frequency",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Frequency",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 780,
        "wires": [
            [
                "b82a0f0bae54f307",
                "1b8aeff4605421c8"
            ]
        ]
    },
    {
        "id": "1813d11eb389496d",
        "type": "delay",
        "z": "3e5687a6779f47c7",
        "name": "Delay",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 1,
        "x": 470,
        "y": 840,
        "wires": [
            [
                "126e0dee16b7c69b"
            ]
        ]
    },
    {
        "id": "e5cebff7a401c8cd",
        "type": "mysql",
        "z": "3e5687a6779f47c7",
        "d": true,
        "mydb": "e3629ac52270aa6f",
        "name": "SQL: Electric_Meter",
        "x": 840,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "98f5c35ffc82b99a",
        "type": "link out",
        "z": "3e5687a6779f47c7",
        "name": "Energy",
        "mode": "link",
        "links": [
            "fa33a89b01121b7b"
        ],
        "x": 635,
        "y": 560,
        "wires": []
    },
    {
        "id": "ad3616f39b4e76e7",
        "type": "function",
        "z": "3e5687a6779f47c7",
        "name": "Energy calculation",
        "func": "//Saving value\nvar vector = msg.payload;\nvar one, two;\n\n//Development\nif (vector[0] == \"reset\" || vector[1] == \"reset\") {\n    if (vector[0] == \"reset\") { two = { payload: vector[1] };}\n    else { two = { payload: vector[0] };}\n    one = { payload: 0 };\n} else {\n    one = { payload: vector[1] + vector[0] };\n    two = null;\n}\n\n//Sending data\nreturn [one, two];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1020,
        "wires": [
            [
                "4ba1a9d9cf46ab2a"
            ],
            [
                "34ce291b5cac8c3d"
            ]
        ]
    },
    {
        "id": "43213b9e0b317612",
        "type": "inject",
        "z": "3e5687a6779f47c7",
        "name": "Loop energy",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "reset",
        "payloadType": "str",
        "x": 480,
        "y": 900,
        "wires": [
            [
                "4ba1a9d9cf46ab2a"
            ]
        ]
    },
    {
        "id": "4ba1a9d9cf46ab2a",
        "type": "join",
        "z": "3e5687a6779f47c7",
        "name": "Join: energy",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ";",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 830,
        "y": 940,
        "wires": [
            [
                "ad3616f39b4e76e7"
            ]
        ]
    },
    {
        "id": "f6f818b59292598a",
        "type": "inject",
        "z": "3e5687a6779f47c7",
        "name": "Inicio",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 450,
        "y": 940,
        "wires": [
            [
                "4ba1a9d9cf46ab2a",
                "1c6e221621e6854d"
            ]
        ]
    },
    {
        "id": "fa33a89b01121b7b",
        "type": "link in",
        "z": "3e5687a6779f47c7",
        "name": "Energy",
        "links": [
            "98f5c35ffc82b99a"
        ],
        "x": 305,
        "y": 1020,
        "wires": [
            [
                "1c6e221621e6854d"
            ]
        ]
    },
    {
        "id": "34ce291b5cac8c3d",
        "type": "function",
        "z": "3e5687a6779f47c7",
        "name": "SQL: Energy",
        "func": "//Saving value\nvar inp = msg.payload;\n\n//Development\ninp = inp/10; //values in Ws\nmsg.topic = \"INSERT INTO Energy(Energy) VALUES ('\" +inp+ \"')\";\n\n//Sending data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 1020,
        "wires": [
            [
                "4052fa1a25ea3f6f"
            ]
        ]
    },
    {
        "id": "4052fa1a25ea3f6f",
        "type": "mysql",
        "z": "3e5687a6779f47c7",
        "d": true,
        "mydb": "e3629ac52270aa6f",
        "name": "SQL: Electric_Meter",
        "x": 1240,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "1c6e221621e6854d",
        "type": "function",
        "z": "3e5687a6779f47c7",
        "name": "Loop",
        "func": "//Saving value\nconst dato = msg.payload;\n\n//Development\nmsg.payload = dato;\n\n//Sending data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1020,
        "wires": [
            [
                "931e20fa0d54cbe0",
                "0ffeb8a649efe553"
            ]
        ]
    },
    {
        "id": "931e20fa0d54cbe0",
        "type": "delay",
        "z": "3e5687a6779f47c7",
        "name": "Delay 1[s]",
        "pauseType": "queue",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 600,
        "y": 1020,
        "wires": [
            [
                "1c6e221621e6854d"
            ]
        ]
    },
    {
        "id": "0ffeb8a649efe553",
        "type": "delay",
        "z": "3e5687a6779f47c7",
        "name": "Delay 6[s]",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "6",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 1,
        "x": 600,
        "y": 980,
        "wires": [
            [
                "4ba1a9d9cf46ab2a"
            ]
        ]
    },
    {
        "id": "67306fee4e360ee6",
        "type": "ui_group",
        "name": "Voltage",
        "tab": "7fe6dd67680e9f21",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": true
    },
    {
        "id": "5ec1e962bdd1ede1",
        "type": "ui_group",
        "name": "Current",
        "tab": "7fe6dd67680e9f21",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": true
    },
    {
        "id": "1ed5c8d6858a75fe",
        "type": "ui_group",
        "name": "Power",
        "tab": "7fe6dd67680e9f21",
        "order": 4,
        "disp": true,
        "width": 7,
        "collapse": true
    },
    {
        "id": "064d7f5cab9396ec",
        "type": "ui_group",
        "name": "Cyber-physical system",
        "tab": "7fe6dd67680e9f21",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": true
    },
    {
        "id": "e3629ac52270aa6f",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "Electric_Meter",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "7fe6dd67680e9f21",
        "type": "ui_tab",
        "name": "Electric meter",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]